# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore log files
*.log

# Ignore compiled code
dist/

# Ignore editor files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore backup files
*.bak
*.swp
