<div>

<h2>OUR STORY</h2>
    <p>Hi! We’re Plants2Pot, a team with a passion for delivering happiness and sharing our love of plants. While our site is relatively new, there are still some upcoming moderations that will make your experience for plant shopping more enjoyable.</p>
    <p>Our team, based out of the Miami/Fort Lauderdale area, is a small group of motivated individuals that share the same passion for plants.</p>

We collaborate with growers across the country to gather a wide variety of fresh, beautiful plants,shipping straight from the greenhouse to arrive at your front door. We hand-select varieties to decorate our living and workspaces and uplift our moods. And we scour Instagram and our local garden centers just like you.

<p>Our goal is to help spread the joy of plants and make everyone’s experience a positive one. We know some plants and room environments can be tricky, but don’t worr, we are here to help demystify the plant experience and make it a joyful one. Ready. Set. Grow!</p>
</div>