body {
  font-family: 'DM Serif Display', serif;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Oleo Script', cursive;
  font-family: 'PT Serif', serif;
  margin: 0;
  font-weight: 300;
  background-image: url(https://secure.img1-cg.wfcdn.com/im/78962530/resize-h445%5Ecompr-r85/2018/201805033/Mirage+Abstract+Wallpaper.jpg);
}

header {

  background: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav {

  width: 70%;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 90%;
  margin: 1rem;
  background: teal;
  margin-left: 50px;
  display: flex;

}

.card a header {
  font-size: 1.3rem;
  color: gold;
  padding-top: 15px;
  margin-left: 43px;

}

.card-body {

  padding: 50px;
  font-size: 1rem;
  margin-top: 30px;

}

.card-body img {

  width: 20%;
  height: auto;
}


.card-body p {
  align-items: center;
  margin-right: 50px;
  font-weight: bold;
  color: gold;
  text-decoration: none;

}

button {

  width: 140px;
  height: 50px;
  margin-top: auto;
  color: rgb(4, 4, 4);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-information {
  text-align: center;
}

.contact-card {
  background-color: #f7f9f5;
  box-shadow: 2px 2px 4px #000000;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 200px;
  padding: 50px;

}

.credentials-card {
  background-color: #f7f9f5;
  box-shadow: 2px 2px 4px #000000;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
  padding: 50px;

}

.aboutus-card {
  background-color: #f7f9f5;
  box-shadow: 2px 2px 4px #000000;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  text-decoration: none;

}