body {
  font-family: Arial;
  margin: 0;
  background-color: pink;
  font-weight: 300;
}

header {

  background: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav {

  width: 70%;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 50%;
  margin: 2rem;
  background: teal;
  margin-left: 300px;
  border-width: 2px;

}

.card a header {
  font-size: 1.3rem;
  color: gold;
  padding-top: 15px;
  margin-left: 43px;

}

.card-body {

  padding: 50px;
  font-size: 1rem;
  margin-top: 30px;

}

.card-body img {

  width: 20%;
  height: auto;
}


.card-body p {
  align-items: center;
  margin-right: 50px;
  font-weight: bold;
  color: gold;
  text-decoration: none;

}

button {

  width: 140px;
  height: 50px;
  margin-top: auto;
  color: pink;
}

.product-details {}