body {
  font-family: 'DM Serif Display', serif;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Oleo Script', cursive;
  font-family: 'PT Serif', serif;
  margin: 0;
  font-weight: 300;
  background-image: url(https://secure.img1-cg.wfcdn.com/im/78962530/resize-h445%5Ecompr-r85/2018/201805033/Mirage+Abstract+Wallpaper.jpg);
}

header {

  background: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav {

  width: 70%;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 90%;
  margin: 1rem;
  background: teal;
  margin-left: 50px;
  display: flex;

}

.card a header {
  font-size: 1.3rem;
  color: gold;
  padding-top: 15px;
  margin-left: 43px;

}

.card-body {

  padding: 50px;
  font-size: 1rem;
  margin-top: 30px;

}

.card-body img {

  width: 20%;
  height: auto;
}


.card-body p {
  align-items: center;
  margin-right: 50px;
  font-weight: bold;
  color: gold;
  text-decoration: none;

}

button {

  width: 140px;
  height: 50px;
  margin-top: auto;
  color: pink;
}